<!DOCTYPE html>
<html ng-app='staffgridApp'>
  <head>
    <title>Angular table</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/grids.css' />
  </head>
  <body>
    <div class='container'>
      <h1>Angular table directive example</h1>
      <div ng-controller='MainController'>
        <staffgrid class='simple-grid' data='data' items-per-page='10' initial-sort='1' width='800'>
          <staffgridpager></staffgridpager>
        </staffgrid>

        <staffgrid class='second-grid' data='data' items-per-page='20' initial-sort='4' width='800'>
          <staffgridpager></staffgridpager>
        </staffgrid>
      </div>
    </div>
  </body>

  <script type="text/javascript" src='/javascripts/vendor/jquery.min.js'></script>
  <script type="text/javascript" src='/javascripts/vendor/underscore.js'></script>
  <script type="text/javascript" src='/javascripts/vendor/angular.js'></script>
  <script type="text/javascript" src='/javascripts/main.js'></script>
  <script type="text/javascript" src='/javascripts/staffgrid.js'></script>
  <script type="text/javascript" src='/javascripts/staffgrid-pager.js'></script>
</html>